@model IEnumerable<WebApp.Models.Enteties.Role>

@{
    ViewBag.Title = "Roles";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>
@foreach (var role in Model)
{
    <div>
        <span>@role.RoleId</span>
        <span>@role.Name</span>
        <span>@role.Code</span>
    </div>
}
